#btn-c-create-new-channel
{
	position: absolute;
	top: 25%;
	right: 5%;
}

#c-new-channel-container, #c-edit-channel-container
{
	position: absolute;
	width: 770px;
	height: 400px;
	top: 150px !important;
	left: 221px;
	display: none;
}

#new-channel-cover-container, #edit-channel-cover-container
{
	position: absolute;
	width: 45%;
	height: 90%;
	top: 5%;
	left: 5%;
	border: solid 1px #000000;
}

#c-new-channel-cover-prompt{height: 10%;}, #c-edit-channel-cover-prompt{height: 10%;}

#c-new-channel-name-container, #c-edit-channel-name-container
{
	position: absolute;
	width: 25%;
	top: 10%;
	left: 53%;
}

#btn-c-new-channel-create, #btn-c-edit-channel-done
{
	position: absolute;
	width: 99px;
	height: auto;
	top: 10%;
	left: 83%;
}

#c-new-channel-visibility-select, #c-edit-channel-visibility-select
{
	position: absolute;
	width: auto;
	height: auto;
	top: 20%;
	left: 53%;
	font-size: 11px;
	font-weight: 700;
}

#c-new-channel-desc-container, #c-edit-channel-desc-container
{
	position: absolute;
	width: 42%;
	height: 45%;
	top: 28%;
	left: 53%;
}

.channel-container
{
	position: relative;
	width: 90%;
	height: 18%;
	left: 5%;
	border-bottom: solid 1px #000000;
}

.channel-cover-container
{
	position: absolute;
	width: 10.9%;
	height: 80%;
	top: 10%;
	right: 0%;
}

.channel-name-container
{
	position: absolute;
	width: auto;
	height: auto;
	top: 18%;
	right: 14%;
	font-size: 15px;
	font-weight: 700;
}

.channel-visibility-container
{
	position: absolute;
	width: auto;
	height: auto;
	top: 30%;
	right: 14%;
	font-size: 10px;
	font-weight: 500;
}

.channel-desc-container
{
	position: absolute;
	width: 50%;
	height: 35%;
	top: 45%;
	right: 14%;
	font-size: 10px;
	font-weight: 500;
	text-align: right;
}

.btn-c-channel-edit, .btn-c-channel-remove
{
	position: absolute;
	height: auto;
	top: 18%;
}

.btn-c-channel-edit{width: 98px; left: 15%;}
.btn-c-channel-remove{width: 114px; left: 3%;}