#channel-info-container
{
	position: absolute;
	width: 100%;
	height: 25%;
	top: 0%;
	left: 0%;
	border-bottom: solid 1px #000000;
}

#channel-content-container
{
	position: absolute;
	width: 100%;
	height: 75%;
	top: 25%;
	left: 0%;
}

#ci-channel-cover-container
{
	position: absolute;
	width: 15%;
	height: 90%;
	top: 5%;
	right: 5%;
}

#ci-channel-name-container
{
	position: absolute;
	width: auto;
	height: auto;
	top: 25%;
	right: 21.5%;
	font-size: 14px;
	font-weight: 700;
	text-align: right;
}

#ci-channel-visibility-container
{
	position: absolute;
	width: auto;
	height: auto;
	top: 35.5%;
	right: 21.5%;
	font-size: 11px;
	font-weight: 500;
	text-align: right;
}

#ci-channel-desc-container
{
	position: absolute;
	width: 48%;
	height: 50%;
	top: 47%;
	right: 21.5%;
	font-size: 11px;
	font-weight: 500;
	text-align: right;
}

#btn-ci-edit-channel, #btn-ci-remove-channel
{
	position: absolute;
	width: auto;
	height: auto;
	top: 25%;
}

#btn-ci-edit-channel{left: 14%;}
#btn-ci-remove-channel{left: 3%;}

#ci-channel-view-options-container
{
	position: absolute;
	width: auto;
	height: auto;
	top: 25%;
	left: 24%;
	font-size: 11px;
	font-weight: 700;
}

#ci-channel-header
{
	position: absolute;
	width: 100%;
	height: 4%;
	bottom: 75%;
	left: 0%;
	font-size: 12.5px;
	font-weight: 700;
	border-bottom: solid 1px #000000;
	display: none;
}

#ci-channel-header span{position: absolute; right: 3%;}
#ci-channel-header i{position: absolute; right: 1.5%; top: 25%;}

.channel-content-sub-container
{
	position: relative;
	width: 100%;
	height: 97%;
	display: none;
	outline: 0 none;
}

#ci-tab-header-container
{
	position: relative;
	width: 100%;
	height: 3%;
}

.ci-tab-header
{
	position: relative;
	width: auto;
	height: 100%;
	float: right;
	font-size: 11px;
	font-weight: 700;
	padding: 0px 25px;
}

.ci-tab-header-active{border-bottom: solid 3px #1E90FF; }
.ci-tab-header:hover{cursor: pointer; }

#btn-ci-start-live-broadcast, #btn-ci-upload-video{position: absolute; top: 18%;}
#btn-ci-start-live-broadcast{right: 13%;}
#btn-ci-upload-video{right: 3%;}

#ci-start-live-broadcast-container
{
	position: fixed;
	width: 999px;
	height: 480px;
	top: 140px !important;
	left: 142.7px;
	display: none;
}

#ci-broadcast-title-container
{
	position: absolute;
	width: 30%;
	height: auto;
	top: 3%;
	left: 3%;
}

#btn-ci-create-broadcast
{
	position: absolute;
	width: 159px;
	top: 3%;
	left: 35%;
}

#ci-broadcast-visibility-container
{
	position: absolute;
	width: 30%;
	height: auto;
	top: 11.5%;
	left: 3%;
	font-size: 11.5px;
	font-weight: 700;
}

#ci-broadcast-desc-container
{
	position: absolute;
	width: 48%;
	height: 45%;
	top: 21%;
	left: 3%;
}
#ci-il-header
{
	position: absolute; 
	top: 3%; 
	left: 54%; 
	font-size: 11.8px; 
	font-weight: 700;
}

#btn-ci-select-all, #btn-ci-deselect-all
{
	position: absolute;
	width: auto;
	height: auto;
	top: 3%;
}

#btn-ci-select-all{right: 11.5%;}
#btn-ci-deselect-all{right: 3%;}

#ci-main-connections-container
{
	position: absolute;
	width: 43%;
	height: 85%;
	top: 10%;
	right: 3%;
	border: solid 1px #000000;
}

#ci-search-connections-container
{	
	border: 0px;
	border-radius: 0px !important;
	border-bottom: solid 1px #000000;
}

#ci-connections-container
{
	position: absolute;
	width: 100%;
	height: 93%;
	top: 7%;
	left: 0%;
	overflow: auto;
}

.ci-connection
{
	position: relative;
	width: 100%;
	height: 14%;
	border-bottom: solid 1px #000000;
	font-size: 11px;
	font-weight: 700;
}

.ci-connection-image-container
{
	position: absolute;
	width: 9.5%;
	height: 80%;
	top: 8%;
	right: 3%;
	border: solid 1px #000000;
}

.ci-connection-name
{
	position: absolute;
	width: auto;
	height: auto;
	top: 25%;
	right: 15%;
}

.btn-ci-connection-action
{
	position: absolute;
	width: auto;
	height: auto;
	top: 25%;
	left: 5%;
}

#ci-live-broadcast-container
{
	width: 90%;
	height: 98%;
	top: 1% !important;
	left: 5%;
	border: solid 1px #000000;
	display: none;
	z-index: 10000;
	background-color: #FFFFFF;
}

#lb-comments-container
{
	position: absolute;
	width: 30%;
	height: 100%;
	top: 0%;
	left: 0%;
	font-weight: 500;
	border-right: solid 1px #000000;
	visibility: hidden;
}

#lb-comments-header
{
	position: absolute;
	width: 97%;
	height: 3.5%;
	font-size: 12px;
	font-weight: 700;
	text-align: right;
	padding: 1px 0px;
	padding-right: 3%;
}

#lb-comments
{
	position: absolute;
	width: 100%;
	height: 96.5%;
	top: 3.5%;
	left: 0%;
	
}

#lb-main-broadcast-container
{
	position: absolute;
	width: 70%;
	height: 100%;
	top: 0%;
	left: 30%;
	visibility: hidden;
}

#lb-broadcast-container
{
	position: absolute;
	width: 100%;
	height: 70%;
	top: 0%;
	left: 0%;
	border-bottom: solid 2px #000000;
}

#lb-broadcast-options-container
{
	position: absolute;
	width: 99.9%;
	height: 10%;
	top: 70%;
	left: 0%;
	font-weight: 700;
	border-bottom: solid 1px #000000;
}

#lb-broadcast-desc-container
{
	position: absolute;
	width: 100%;
	height: 20%;
	top:80%;
	left: 0%;
	font-weight: 500;
}

#btn-lb-start-broadcast, #btn-lb-capture, #btn-lb-screencast, #btn-lb-switch-camera, #btn-lb-switch-screen
{
	position: absolute;
	font-size: 10.5px;
	text-align: center;
	background-color: #E0ECFF;
	border: solid 1px #000000;
	box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.2) inset, 0px 3px 3px rgba(0, 0, 0, 0.05);
}
#btn-lb-start-broadcast:hover, #btn-lb-capture:hover, #btn-lb-screencast:hover, #btn-lb-switch-camera:hover, #btn-lb-switch-screen:hover{cursor: pointer;}
.lb-start-broadcast#btn-lb-start-broadcast:hover{background-color: #E0FF85;}
#btn-lb-capture:hover, #btn-lb-screencast:hover, #btn-lb-switch-camera:hover, #btn-lb-switch-screen:hover{background-color: #70AAFF;}
#btn-lb-start-broadcast{width: 49.9%; height: 100%; top: 0%; left: 0%;}
#btn-lb-capture{width: 25%; height: 50%; top: 0%; left: 50%;}
#btn-lb-screencast{width: 25%; height: 50%; top: 0%; left: 75%; border-right: none;}
#btn-lb-switch-camera{width: 25%; height: 50%; top: 50%; left: 50%;}
#btn-lb-switch-screen{width: 25%; height: 50%; top: 50%; left: 75%; border-right: none;}

#lb-broadcast-title, #lb-channel-name
{
	position: absolute;
	right: 5%;
}

#lb-broadcast-title{top: 10%; font-size: 15.5px; font-weight: 700;}
#lb-channel-name{top: 21%; font-size: 11px;}

#ci-post-comment-container
{
	position: relative;
	width: 100%;
	height: 95px;
	padding: 5px 0px;
}

#ci-comments
{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 30%;
	padding: 5px 0px;
}

#btn-ci-post-comment
{
	position: absolute;
	right: 86%;
	bottom: 15%;
}

.ci-comment
{
	position: relative;
	width: 70%;
	height: auto;
	min-height: 55px;
	font-size: 11px;
	font-weight: 500;
	line-height: 15px;
	margin: 0 auto;
	padding: 5px 5px;
}

.ci-channel-comment-bubble
{
	position: absolute;
	width: 45px;
	height: 45px;
	left: 10px;
}

.ci-channel-comment-name-container
{
	position: absolute;
	left: 70px;
	font-weight: 700;
}

.ci-channel-comment
{
	position: absolute;
	width: auto;
	height: auto;
	min-height: 10px;
	top: 18px;
	left: 70px;
}