.wrapper
{
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 1280px;
	min-height: 768px;
	top: 0%;
	left: 0%;
    font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif !important;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    overflow: hidden;
}

.dialog-container, .overlay-dialog-container{background-color: #FFFFFF; border: solid 1px #000000;	box-shadow: 5px 5px 10px 3px #333333; -webkit-box-shadow: 5px 5px 10px 3px #000000; -moz-box-shadow: 5px 5px 10px 3px #000000;}
.dialog-container-header{background-color: #1E90FF; border-bottom: solid 1px #000000;}
.overlay-dialog-container-header{text-align: right;}
.dialog-container-header-text, .overlay-dialog-container-header-text{color: #000000; font-size: 14px; font-weight: 500;}
.dialog-container-header-text:hover, .overlay-dialog-container-header-text:hover{cursor: pointer;}

.textbox-container{border: solid 1px #000000; border-radius: 5px !important; -moz-border-radius: 5px !important; -webkit-border-radius: 5px !important; margin: 0px !important; padding-bottom: 3px !important;}
.textbox{width: 100% !important; /*height: 100% !important; top: 0%; left: 0%;*/ border: 0px !important; border-radius: 5px !important; -moz-border-radius: 5px !important; -webkit-border-radius: 5px !important; font-size: 11px !important; font-weight: 700 !important; text-align: center;
 padding: 0px !important; margin: 0px !important; outline: 0px none !important; 
 font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif !important; 
 resize: none;}
 .textbox:focus{box-shadow: none !important;}
 .cap{text-transform: capitalize;}

.url-link{color: #000000; font-size: 11px; font-weight: 700;}
.url-link:hover{cursor: pointer; text-decoration: underline;}

.button{border: solid 1px #000000; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: transparent; color: #000000; font-size: 11px; font-weight: 700;}
.button:hover, .button:focus{cursor: pointer; background-color: #E8F4FF;}
.button[disabled="disabled"]:hover{cursor: pointer; background-color: transparent;}
.btn{font-size: 10.4px !important; font-weight: 700 !important; 
    //font-family: 'Ubuntu', sans-serif !important;
    font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif !important;}
.radio-button-container{color: #000000; font-size: 11px; font-weight: 700;}
.radio-button:hover{cursor: pointer;}

.error-span{color: #FF0000; font-size: 11px; font-weight: 500;}

textarea{border: solid 1px #000000; width: 100%; height: 100%; top: 0%; left: 0%; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 11px; font-weight: 500; padding: 3px 3px 3px 3px;}
select{font-size: 11px; font-weight: 500; text-align: center;}
.separator{position: absolute; width: 96%; left: 2%;}
a:hover{cursor: pointer;}
i{margin-top: 0px !important; padding-right: 1.5px; vertical-align: middle !important;}
.image-container
{
    border: solid 1px #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #000000;
    box-shadow: 0px 0px 3px #000000;
}

.status-indicators
{
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.content-sub-container
{
    position: absolute;
    width: 100%;
    height: 95%;
    top: 5%;
    left: 0%;
}

.overlay-dialog-container .overlay-dialog-container-header
{
    position: absolute;
    width: 100%;
    height: 7%;
    text-align: right;
}

.overlay-dialog-container .overlay-dialog-container-header span{position: absolute; top: 18%; right: 3%; font-weight: 700;}
.image-prompt
{
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

.image-prompt:hover{cursor: pointer;};

.dropdown-menu li
{
    position: relative;
    width: auto;
    height: auto;
    font-size: 11px;
    font-weight: 700;
    text-align: right;
    padding-right: 8%;
}
.dropdown-menu li:hover{cursor: pointer; background-color: #1E90FF; border-top: solid 0.1px #000000; border-bottom: solid 0.1px #000000;}
.overlay-divider{position: relative; width: 97%; height: 0px; left: 1.5%; border: solid 0.1px #000000; }

.user-channel-comment-bubble
{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 10%;
    margin-top: 5px;
    border: solid 1px #000000;
}

.user-channel-comment-bubble .image-container
{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5px;
    left: 5px;
}
.user-channel-comment
{
    position: absolute;
    width: 70%;
    height: auto;
    min-height: 80px;
    left: 15%;
    margin-top: 5px;
    border: solid 1px #000000;
}
.user-channel-comment textarea
{
    position: absolute;
    width: 99.3%;
    height: 90%;
    line-height: 15px !important;
    font-family: inherit;
    font-size: 11px; 
    font-weight: 500; 
    padding: 3px; 
    border: 0px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    resize: none;
}