#btn-cg-create-new-cg
{
	position: absolute;
	top: 25%;
	right: 5%;
}

#connection-groups-container
{
	position: absolute;
	width: 100%;
	height: 95%;
	top: 5%;
	left: 0%;
}

#search-connection-groups-container
{
	left: 5%;	
}

#empty-cg-indicator {top: 30%;}

#cg-new-cg-container
{
	position: absolute;
	width: 504px;
	height: 405px;
	top: 180px !important;
	left: 403.2px;
	display: none;
}

#cg-new-cg-container .overlay-dialog-container-header
{
	position: absolute;
	width: 100%;
	height: 8%;
	text-align: right;
}

#cg-new-cg-container .overlay-dialog-container-header span{position: absolute; top: 18%; right: 3%; font-weight: 700;}

#cg-new-group-name-container
{
	position: absolute;
	width: 55%;
	height: auto;
	top: 3%;
	left: 5%;
}

#btn-cg-create-group
{
	position: absolute;
	width: 159px;
	top: 3%;
	right: 5%;
}
#cg-main-connections-container
{
	position: absolute;
	width: 90%;
	height: 80%;
	top: 15%;
	left: 5%;
	border: solid 1px #000000;
}

#cg-search-connections-container
{	
	border: 0px;
	border-radius: 0px !important;
	border-bottom: solid 1px #000000;
}

#cg-connections-container
{
	position: absolute;
	width: 100%;
	height: 92%;
	top: 8%;
	left: 0%;
	overflow: auto;
}

.cg-new-cg-connection
{
	position: relative;
	width: 100%;
	height: 15%;
	border-bottom: solid 1px #000000;
	font-size: 11px;
	font-weight: 700;
}

.cg-new-connection-image-container
{
	position: absolute;
	width: 7%;
	height: 70%;
	top: 10%;
	right: 3%;
	border: solid 1px #000000;
}

.cg-new-connection-name
{
	position: absolute;
	width: auto;
	height: auto;
	top: 25%;
	right: 13%;
}

.btn-cg-new-connection-action
{
	position: absolute;
	width: auto;
	height: auto;
	top: 25%;
	left: 5%;
}

.connection-group-container
{
	position: relative;
	width: 100%;
	height: 13%;
	border-bottom: solid 1px #000000;
}

.cg-connection-group-name
{
	position: absolute;
	top: 18%;
	right: 5%;
	font-size: 15px;
	font-weight: 700;
}

.cg-member-images-container
{
	position: absolute;
	width: 10%;
	height: 30%;
	top: 55%;
	right: 5%;
	max-width: 80%;
	overflow: hidden;
	border: solid 1px #000000;
}

.cg-member-image
{
	position: relative;
	width: 38px;
	height: 100%;
	float: right;
}

.btn-cg-edit-cg, .btn-cg-remove-cg
{
	position: absolute;
	top: 18%;
}

.btn-cg-edit-cg{left: 20%;}
.btn-cg-remove-cg{left: 5%;}