.user-container
{
	position: relative;
	width: 100%;
	height: 15%;
	border-bottom: solid 1px #000000;
}

.uc-profile-image-container
{
	position: absolute;
	width: 8%;
	height: 80%;
	bottom: 10%;
	right: 10%;
	border: solid 1px #000000;
	background-image: url("https://localhost/images/profile_images/fernando_alonso.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-color: #000000;
	box-shadow: 0px 0px 3px #000000;
}

.uc-user-info-container
{
	position: absolute;
	width: 30%;
	height: 58%;
	bottom: 15%;
	right: 20%;
	font-size: 11px;
	font-weight: 500;
	text-align: right;
}

.uc-user-name-container, .uc-user-dob-container, .uc-user-current-home-container, .uc-user-hometown-container
{
	position: absolute;
	width: auto;
	height: auto;
	top: 0%;
	right: 3%;
}

.uc-user-name-container{font-size: 14px; font-weight: 700;}
.uc-user-name-container:hover{cursor: pointer; text-decoration: underline;}
.uc-user-dob-container{top: 25%;}
.uc-user-current-home-container{top: 50%;}
.uc-user-hometown-container{top: 75%;}

.uc-edu-info-container, .uc-work-info-container
{
	position: absolute;
	width: 20%;
	height: 50%;
	bottom: 15%;
	font-size: 10px;
	font-weight: 500;
	text-align: right;
}

.uc-edu-info-container{right: 55%;}
.uc-work-info-container{right: 78%;}

.uc-edu-info-header, .uc-work-info-header
{
	position: absolute;
	width: auto;
	height: auto;
	right: 5%;
	font-size: 11px;
	font-weight: 700;
}

.uc-edu-deuc-container, .uc-work-deuc-container
{
	position: absolute;
	width: auto;
	height: auto;
	top: 33%;
	right: 5%;
}

.uc-user-btn-group
{
	position: absolute;
	width: auto;
	height: auto;
	bottom: 70%;
	right: 78%;
}

.uc-user-btn-group .dropdown-menu li
{
	position: relative;
	width: auto;
	height: auto;
	font-size: 11px;
	font-weight: 700;
	text-align: right;
	padding-right: 8%;
}

.uc-user-btn-group .dropdown-menu li:hover{cursor: pointer; background-color: #1E90FF; border-top: solid 0.1px #000000; border-bottom: solid 0.1px #000000;};